.webkit-center {
    text-align: -webkit-center;
}

.text {
    color: #A0A0A0;
}

.bg-gradient {
    background: linear-gradient(to right, #C2C2C2, #0047FF, #254BFF);
}

.border-top {
    border-top-color: #2D27FF;
}

.confirm {
    color: #00B929;
}

.unconfirm {
    color: #D00000;
}