.background {
    background: linear-gradient(95deg, rgba(255, 255, 255, 0.06) 18.73%, rgba(58, 71, 214, 0.54) 79.87%);
}

.img {
    transform: translateX(-50%);
    left: 50%;
}

.billiards-passion-text {
    position: relative;
}